<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/static/k.css">
 <title>MY friend</title>
</head>
<body>
    <div class ="home" >
        <div class = "picture">
            <img class = "profile" src = "{{ url_for('static', filename = 'Screen Shot 2022-06-16 at 7.08.54 PM.png')}}">
        </div>
        <div class = "info">
            <h1 style = "color:#FFFAFA;font-size:40px"><strong>Hey there!<strong><h1>
            <h1 style = "color:#FFFAFA;font-size:40px"><strong>I'm Kai Cheng Liu</strong></h1>
            <p style = "color:#FFFAFA;font-size:30px;">student in <b><a style = "color:#FFE6E8" href = "https://www.cgu.edu.tw/"> Chang Gung University</a></b></p>
        </div>
    </div>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    <div>
        <h1>bbbbbbbbbbbb</h1>
        <h1>bbbbbbbbbbbb</h1>
        <h1>bbbbbbbbbbbb</h1>
        <h1>bbbbbbbbbbbb</h1>
        <h1>bbbbbbbbbbbb</h1>
    </div>
</body>
</html>